In [42]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings

In [2]:
credit_card_data=pd.read_csv('creditcard.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
#Dataset info 
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47628 entries, 0 to 47627
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    47628 non-null  int64
 1   V1      47628 non-null  float64
 2   V2      47628 non-null  float64
 3   V3      47628 non-null  float64
 4   V4      47628 non-null  float64
 5   V5      47628 non-null  float64
 6   V6      47628 non-null  float64
 7   V7      47628 non-null  float64
 8   V8      47628 non-null  float64
 9   V9      47628 non-null  float64
 10  V10     47628 non-null  float64
 11  V11     47628 non-null  float64
 12  V12     47628 non-null  float64
 13  V13     47628 non-null  float64
 14  V14     47628 non-null  float64
 15  V15     47628 non-null  float64
 16  V16     47628 non-null  float64
 17  V17     47627 non-null  float64
 18  V18     47627 non-null  float64
 19  V19     47627 non-null  float64
 20  V20     47627 non-null  float64
 21  V21     47627 non-null  float64
 22  V22     47627 non-null  float64
 23  V23     47627 non-null  float64
 24  V24     47627 non-null  float64
 25  V25     47627 non-null  float64
 26  V26     47627 non-null  float64
 27  V27     47627 non-null  float64
 28  V28     47627 non-null  float64
 29  Amount  47627 non-null  float64
 30  Class   47627 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 11.3 MB

In [6]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269,0.173609,5.49,0.0
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453,-0.107284,10.00,0.0
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350,-0.017047,89.99,0.0
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970,-0.183521,0.99,0.0
47627,43282,1.121749,-0.208202,0.660816,0.857988,-0.823614,-0.422509,-0.286708,0.098616,0.541126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# statistical measures 
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,47628.000000,47628.000000,47628.000000,47628.000000,47628.000000,47628.000000,47628.000000,47628.000000,47628.000000,47628.000000,...,47627.000000,47627.000000,47627.000000,47627.000000,47627.000000,47627.000000,47627.000000,47627.000000,47627.000000,47627.000000
mean,28183.123562,-0.240703,0.021469,0.694689,0.191074,-0.249837,0.102310,-0.119867,0.053450,0.141204,...,-0.027059,-0.107091,-0.039399,0.007890,0.136314,0.022561,0.004907,0.004021,91.777163,0.003065
std,13001.722320,1.884794,1.626518,1.519894,1.402196,1.412854,1.309931,1.282101,1.216930,1.214104,...,0.737251,0.637200,0.579666,0.594175,0.438367,0.502411,0.388191,0.335275,249.818013,0.055283
min,0.000000,-56.407510,-72.715728,-32.965346,-5.172595,-42.147898,-26.160506,-26.548144,-41.484823,-9.283925,...,-20.262054,-8.593642,-26.751119,-2.836627,-7.495741,-1.577118,-8.567638,-9.617915,0.000000,0.000000
25%,20517.000000,-0.990001,-0.548684,0.220594,-0.714455,-0.857297,-0.636473,-0.602224,-0.146950,-0.597975,...,-0.231991,-0.528167,-0.179247,-0.322459,-0.128057,-0.329467,-0.063838,-0.006862,7.590000,0.000000
50%,32930.500000,-0.248789,0.085468,0.800243,0.195142,-0.282244,-0.152017,-0.074952,0.057092,0.026153,...,-0.069134,-0.081945,-0.051439,0.061661,0.175871,-0.068195,0.008665,0.021873,24.990000,0.000000
75%,38236.000000,1.156434,0.736933,1.432158,1.070576,0.286638,0.492728,0.425886,0.329612,0.837269,...,0.107256,0.306116,0.078475,0.401231,0.421741,0.302743,0.083933,0.076168,83.110000,0.000000
max,43282.000000,1.960497,18.183626,4.101716,16.491217,34.801666,22.529298,36.677268,20.007208,10.392889,...,22.614889,5.805795,17.297845,4.014444,5.525093,3.517346,11.135740,33.847808,12910.930000,1.000000

In [8]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [9]:
credit_card_data['Class'].value_counts()

0.0    47481
1.0      146
Name: Class, dtype: int64

In [11]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [23]:
print(legit.shape)
print(fraud.shape)
fraud.head()

(47481, 31)
(146, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0
6108,6986,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1.0
6329,7519,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1.0

In [16]:
legit.Amount.describe()

count    47481.000000
mean        91.749512
std        249.864438
min          0.000000
25%          7.600000
50%         24.990000
75%         83.000000
max      12910.930000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     146.000000
mean      100.769589
std       234.865142
min         0.000000
25%         1.000000
50%         8.370000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,28187.518523,-0.217647,0.004622,0.729134,0.173144,-0.232960,0.109679,-0.095198,0.041927,0.152781,...,0.046262,-0.029852,-0.106718,-0.038640,0.008178,0.135952,0.022116,0.003026,0.003920,91.749512
1.0,26650.410959,-7.748350,5.502036,-10.507153,6.017631,-5.734345,-2.290523,-8.141188,3.800624,-3.626437,...,0.471417,0.881448,-0.228124,-0.286066,-0.085893,0.253943,0.167237,0.616539,0.037065,100.769589

In [19]:
#a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions
#Number of Fraudulent Transactions --> 146
legit_sample = legit.sample(n=146)

In [22]:
#Concatenating two DataFrames
new_dataset = pd.concat([legit_sample, fraud], axis=0)
new_dataset.head()
#Concatenating the DataFrames can be helpful for tasks like building a machine learning model to detect fraudulent transactions. By combining legitimate and fraudulent transactions in a single dataset, you can ensure that the model learns from both types of examples and has a balanced representation of the classes, which can lead to more accurate predictions.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0
6108,6986,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1.0
6329,7519,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1.0

In [24]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
45203,42247,-2.524012,2.098152,-4.946075,6.456588,3.173921,-3.058806,-0.184710,-0.390420,-3.649812,...,0.027935,0.220366,0.976348,-0.290539,1.161002,0.663954,0.456023,-0.405682,1.00,1.0
45732,42474,-3.843009,3.375110,-5.492893,6.136378,2.797195,-2.646162,-1.668931,-2.617552,-3.945843,...,-1.277812,0.719652,0.451125,-0.258094,0.656129,0.556676,0.739383,-0.203050,1.00,1.0
46909,42985,-4.075975,0.963031,-5.076070,4.955963,-0.161437,-2.832663,-7.619765,1.618895,-2.992092,...,1.030738,0.165328,-1.017502,-0.477983,-0.304987,-0.106089,1.899714,0.511462,1.00,1.0
46918,42988,-4.423508,1.648048,-6.934388,4.894601,-5.078131,0.010849,-3.409096,1.409291,-3.260672,...,0.698359,0.487478,1.228698,-0.535217,0.388278,-0.009466,2.300164,0.081231,648.00,1.0
46998,43028,-1.109646,0.811069,-1.138135,0.935265,-2.330248,-0.116106,-1.621986,0.458028,-0.912189,...,0.641594,0.841755,0.176728,0.081004,-0.258899,0.707654,0.418649,0.080756,204.27,1.0

In [25]:
new_dataset['Class'].value_counts()

0.0    146
1.0    146
Name: Class, dtype: int64

In [26]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,27905.787671,-0.061147,-0.023292,0.700256,0.009024,-0.298177,0.114514,-0.027425,0.020476,0.022845,...,0.061698,-0.002869,-0.170760,-0.077145,0.026570,0.125924,0.031585,-0.028835,-0.018473,97.488699
1.0,26650.410959,-7.748350,5.502036,-10.507153,6.017631,-5.734345,-2.290523,-8.141188,3.800624,-3.626437,...,0.471417,0.881448,-0.228124,-0.286066,-0.085893,0.253943,0.167237,0.616539,0.037065,100.769589

In [27]:
# Features and Targets 
x=new_dataset.drop(columns='Class', axis=1)
y=new_dataset['Class']

In [28]:
print(x)

        Time        V1        V2        V3        V4        V5        V6  \
4097    3740  1.361499 -0.749688 -0.938231 -1.599578  1.437927  3.282170
41687  40786  1.239792  0.667875 -0.237056  1.312187  0.026361 -1.198410
10963  18846 -2.786739  1.177121 -1.871067  0.276896  1.498751  3.250689
11650  19914 -0.615461 -0.081930  1.991635 -1.190977 -0.492837 -1.152643
35771  38255  1.513682 -1.202659  0.481476 -1.616405 -1.454961 -0.032725
...      ...       ...       ...       ...       ...       ...       ...
45203  42247 -2.524012  2.098152 -4.946075  6.456588  3.173921 -3.058806
45732  42474 -3.843009  3.375110 -5.492893  6.136378  2.797195 -2.646162
46909  42985 -4.075975  0.963031 -5.076070  4.955963 -0.161437 -2.832663
46918  42988 -4.423508  1.648048 -6.934388  4.894601 -5.078131  0.010849
46998  43028 -1.109646  0.811069 -1.138135  0.935265 -2.330248 -0.116106

             V7        V8        V9  ...       V20       V21       V22  \
4097  -1.143007  0.705001  0.357679  ...  0.264064 -0.265611 -0.909146
41687  0.296270 -0.243775 -0.079760  ... -0.106360 -0.052087 -0.079580
10963 -1.275831  2.253222  0.196732  ... -0.780919 -0.154338 -0.647102
11650 -0.091525 -0.082786  0.505422  ... -0.059904 -0.056311 -0.057602
35771 -1.425962  0.101922 -1.680858  ... -0.332310 -0.072219  0.138369
...         ...       ...       ...  ...       ...       ...       ...
45203 -0.184710 -0.390420 -3.649812  ... -0.162797  0.027935  0.220366
45732 -1.668931 -2.617552 -3.945843  ...  0.054796 -1.277812  0.719652
46909 -7.619765  1.618895 -2.992092  ...  0.058861  1.030738  0.165328
46918 -3.409096  1.409291 -3.260672  ... -0.562264  0.698359  0.487478
46998 -1.621986  0.458028 -0.912189  ...  0.168891  0.641594  0.841755

            V23       V24       V25       V26       V27       V28  Amount
4097   0.063063  0.921080  0.349456 -0.510581 -0.023828  0.019032   62.59
41687 -0.119029  0.276623  0.690952 -0.327545  0.031817  0.051232    1.00
10963  0.280884  0.937590 -0.235676 -0.605432 -0.684001 -0.229846   50.44
11650 -0.091410  0.620472  0.022566 -0.461044  0.041413  0.103229   10.00
35771 -0.105836 -0.526318  0.394259 -0.066669  0.042027  0.006963   12.00
...         ...       ...       ...       ...       ...       ...     ...
45203  0.976348 -0.290539  1.161002  0.663954  0.456023 -0.405682    1.00
45732  0.451125 -0.258094  0.656129  0.556676  0.739383 -0.203050    1.00
46909 -1.017502 -0.477983 -0.304987 -0.106089  1.899714  0.511462    1.00
46918  1.228698 -0.535217  0.388278 -0.009466  2.300164  0.081231  648.00
46998  0.176728  0.081004 -0.258899  0.707654  0.418649  0.080756  204.27

[292 rows x 30 columns]

In [29]:
print(y)

4097     0.0
41687    0.0
10963    0.0
11650    0.0
35771    0.0
        ...
45203    1.0
45732    1.0
46909    1.0
46918    1.0
46998    1.0
Name: Class, Length: 292, dtype: float64

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [33]:
print(x.shape, X_train.shape, X_test.shape)

(292, 30) (233, 30) (59, 30)

In [34]:
#Model training 
#Logistic Regression 
model = LogisticRegression()

In [ ]:
#Training the logistic Regression Model with Training Data
model.fit(X_train, Y_train)

In [36]:
#Accuracy Score
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [37]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9828326180257511

In [38]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [39]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9661016949152542

In [40]:
#Accuracy on Training Data: 0.9828326180257511 (98.28%)
#Accuracy on Test Data: 0.9661016949152542 (96.61%)
# the model is generalizing well to unseen data

In [45]:

def make_prediction(features):
    # Reshape the features to a 2D array
    features_array = np.asarray(features)
    features_reshaped = features_array.reshape(1, -1)

    # Make the prediction
    prediction = model.predict(features_reshaped )

    # Return the prediction result
    return prediction[0]

def display_prediction(prediction):
    if prediction == 0:
        print('its not a fraud ')
    else:
        print('its a fraud ')

# Define the features for prediction
features = (406,-2.3122265423263,1.95199201064158,-1.60985073229769,3.9979055875468,-0.522187864667764,-1.42654531920595,-2.53738730624579,1.39165724829804,-2.77008927719433,-2.77227214465915,3.20203320709635,-2.89990738849473,-0.595221881324605,-4.28925378244217,0.389724120274487,-1.14074717980657,-2.83005567450437,-0.0168224681808257,0.416955705037907,0.126910559061474,0.517232370861764,-0.0350493686052974,-0.465211076182388,0.320198198514526,0.0445191674731724,0.177839798284401,0.261145002567677,-0.143275874698919,0)
try:
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        prediction = make_prediction(features)

    # Display the prediction
    display_prediction(prediction)
except Exception as e:
    print('An error occurred during prediction:', str(e))

its a fraud